Import Librairies

In [ ]:
import pandas as pd

In [ ]:
#!pip install mysql-connector

In [ ]:
try:
  from sqlalchemy import create_engine
except:
  #!pip install sqlalchemy
  from sqlalchemy import create_engine

In [ ]:
try :
  import pymysql
except :
  #!pip install pymysql
  import pymysql

Connect to database MySQL RDS AWS (look Connectivity and security)

In [1]:

host="nomdatabase.etc.zone.rds.amazonaws.com"
port=
dbname="nomdatabase"
user="admin"
password="yourpasswordaws"

In [ ]:
#Connexion to RDS AWS
conn = pymysql.connect(host, user=user,port=port,passwd=password)

In [ ]:
#Creation curseur
cur = conn.cursor()

In [ ]:
#List of database
cur.execute("SHOW DATABASES")

#Fetch all the rows
databaseList= cur.fetchall()

for datatbase in databaseList:
  print(datatbase)

In [ ]:
#creation database 
#SQL Statement to create a database
nomdb = "newdb"
sqlStatemen= "CREATE DATABASE "+ nomdb  

# Execute the create database SQL statment through the cursor instance

cur.execute(sqlStatemen)

1

In [2]:
#We are using database1
cur.execute("USE database1")

In [ ]:
sql = "SHOW TABLES"
cur.execute(sql)

# Fetch all the records
result = cur.fetchall()
for i in result:
    print(i)

('transactionbyshop',)
('transactionbyshop2',)

In [ ]:
#Select Table "transactionbyshop2"
sql2 = "SELECT * FROM transactionbyshop2"

cur.execute(sql2)

# Fetch all the records
result = cur.fetchall()
for i in result:
    print(i)

Closing connection to the database RDS

In [ ]:
conn.close()